span{
	float:left;
	padding-top:.3em;
	width:100px;
	margin-top:3px;
}

/*
AMA
*/
.fg-buttonset-single{
	float:left;
	margin-right:8px;
	margin-top:0px;
}
.fg-button{
	margin-top:3px;
}
.fg-button-toggleable{

}
.fg-buttonset-single-first{
	margin-left:3px;
}
.fg-buttonset-single .fg-button,
.fg-button-toggleable{
	font-size:.75em;
	padding: .4em .4em; 
}
